$primary-dark:  #EBDBB8;
$primary-light: #F6F4EC;
$black:         #081917;
$button:        #677796;
$white:         #fff;
$blue:          #B1CCFF;
$dark:          #B8AB90;
$footer:        #322501;

$color: (
    "primary-dark":     $primary-dark,
    "primary-light":    $primary-light,
    "black":            $black,
    "button":           $button,
    "white":            $white,
    "blue":             $blue,
    "dark":             $dark,
    "footer":           $footer,
)!default;

@each $key, $val in $color {
    .#{$key} {
        background: $val;
    }

    .color-#{$key} {
        color: $val;
    }

    .border-#{$key} {
        border: 1px solid $val;
    }
};

