//import Poppins to Google font
@use "color" as c;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: poppins;
    background: c.$primary-light;
}

$item: (
    "start": start,
    "center": center,
    "end": end
);

@each $key, $val in $item {
    .align-#{$key} {
        align-items: $val;
    }
    .text-#{$key} {
        text-align: $val;
    }
};

$weight: (
    "light": lighter,
    "normal": normal,
    "bold": bold,
    "semibold": bolder,
);

@each $key, $val in $weight {
    .font-#{$key} {
        font-weight: $val;
    }
};

$display: (
    "grid": grid,
    "block": block,
    "none": none,
    "flex": flex,
);

@each $key, $val in $display {
    .d-#{$key} {
        display: $val !important;
    }
}

.d-grid {
    display: grid;
}

.gap-16 {
    gap: 16px;
}

.container-button {
    span {
        cursor: pointer;
        display: inline-block;
        box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 25%);
    }
}

.font-14 {
    font-size: 14px;
}