@use "_color.scss" as c;
@use 'footer';
//
@use "reset.css";

.before::before {
    content: ">" !important;
}

.bio {
    grid-template-columns: repeat(4, 0.5fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 16px;

    figure {
        grid-row: 1/3;
        grid-column: 1;
        width: 100%;
        overflow: hidden;
        margin: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 16px;
        }
    }

    .text-header {
        grid-column: 2/4;
        grid-row: 1;
    }

    .text-bio {
        grid-column: 2/4;
        grid-row: 2;
    }

    .icon {
        grid-column: 4;
        grid-row: 2;

        .social, .tools {
            img {
                width: 50px;
                filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.3));
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }

        .container-tools {
            margin-top: 20px;
        }
    }
}

.percorso {
    span {
        font-weight: bold;
    }
}

.list-skills {

    .first-block-skill {
        display: flex;
        width: 300px;
        justify-content: space-between;
    }

    ul {
        margin-bottom: 0;
        padding-left: 0;
    }
}

footer {
    a {
        display: block;
        color: white;
        text-decoration: none;
    }
}

// media query mobile
@media (320px <= width <= 425px) {
    .bio {
        display: flex !important;
        flex-direction: column;
        .icon {
            grid-column: 1 / 3;
            grid-row: 3;
            order:4;
        }

        figure {
            order: 2;
        }

        .text-header {
            order: 1;
        }
        .text-bio {
            order: 3;
        }
    }

    .experience {
        flex-direction: column;
    }

    .skill {
        flex-direction: column;

        .skills {
            width: 100%;

            .first-block-skill {
                flex-direction: column;
                gap: 16px;
                margin-bottom: 16px;
            }

            .list-skills {
                text-align: left;
                justify-content: left !important;
            }
        }
    }

    .container-footer {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .portfolio h3 {
            font-size: 1.5rem !important;
        }
    }
}

// tablet

@media (426px <= width <= 768px) {
    .icon {
        flex-direction: row !important;
        align-items: baseline;
    }
    .bio {
        grid-template-columns: repeat(5, 0.5fr);
        .icon { grid-area: 3 / 1 / auto / 6; }
        figure { grid-area: 1 / 1 / 3 / 3; }
        .text-header { grid-area: 1 / 3 / auto / 6; }
        .text-bio { grid-area: 2 / 3 / auto / 6; }
    }
    .list-skills {
        justify-content: start !important;
    }

    .container-card {
        h3 {
            font-size: 1.5rem;
        }
    }
}

@media (768px <= width <= 1024px) {
    .icon {
        flex-direction: row !important;
        align-items: baseline;
    }
    .bio {
        grid-template-columns: repeat(5, 0.5fr);
        .icon { grid-area: 3 / 1 / auto / 6; }
        figure { grid-area: 1 / 1 / 3 / 3; }
        .text-header { grid-area: 1 / 3 / auto / 6; }
        .text-bio { grid-area: 2 / 3 / auto / 6; }
    }
}