@use "_color.scss" as c;
@import "reset.css";


.container-img {
    .image {
        img {
            border-radius: 16px;
        }
    }
}
.img-discovery {
    height: 142px;
    border-radius: 16px;

    img {
        width: 100%;
    }
}