@use 'color' as c;
@use 'footer';
@use '_reset.scss' as r;

.icon {
    width: 40px;
}

.container-bio {
    .bio {

        p {
            border-radius: 16px;
            padding: 15px 32px;
        }
    }
}

.my-img {
    overflow: hidden;
    figure.img {
        margin: 0;
    
        img {
            border-radius: 16px;
            width: 100%;
        }
    }
    .container-icon {
        display: none !important;
    }
}

figure.tools img {
    width: 54px;
    
    &:not(:last-child) {
        margin-right: 16px;
    }
}

.card-social {
    gap: 16px;

    img {
        width: 54px;
        filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.3));
    }
}

h3 {
    font-size: 24px;
}

.container-project {
    gap: 16px;

    @mixin project($img) {
        background-image: $img;
        background-position: center;
        border-radius: 16px;
        height: 264px;
        box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 25%);
    }

    .project-eco {
        @include project($img: url('../img/ecodream.png'));
    }

    .project-final {
        @include project($img: url('../img/work-progress.png'));
    }

    .project-sunnee {
        @include project($img: url('../img/sunnee.png'));
    }

    .project-text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        container-name: button;
        container-type: inline-size;

        @container button (max-width: 500px) {
            .container-button {
                justify-content: center;
            }
        }
    }
}


.btn-project {
    display: inline-block;

    a {
        box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 25%);
    }
}


span.btn-absolute {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: c.$primary-dark;
    right: -40px;
    bottom: -40px;
    border-radius: 50%;

    img {
        bottom: 50px;
        right: 50px;
    }
}

.container-form {
    border-radius: 16px 16px 0 0;
}

form {

    label {
        display: block;
        margin-bottom: .3rem;
    }

    input {
        padding: .3rem .4rem;
    }

    input, textarea {
        width: 100%;
        border: 1px solid c.$dark;
        border-radius: 8px;
        background: c.$primary-light;
    }
}

// footer {
//     a {
//         display: block;
//         color: white;
//         text-decoration: none;
//     }
// }