//import Poppins to Google font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: poppins;
    background: $primary-light;
}

$item: (
    "start": start,
    "center": center,
    "end": end
);

@each $key, $val in $item {
    .align-#{$key} {
        align-items: $val;
    }
};

$weight: (
    "normal": normal,
    "bold": bold,
    "semibold": bolder,
);

@each $key, $val in $weight {
    .font-#{$key} {
        font-weight: $val;
    }
};